In [1]:
import pandas as pd
import numpy as np

In [239]:
child_mortality=pd.read_excel("Inputs/U5MR_mortality_rate_2018.xlsx",sheet_name=0,header=10)

In [240]:
child_deaths=pd.read_excel("Inputs/U5MR_deaths_2018.xls",sheet_name=0,header=14)

In [241]:
child_deaths=child_deaths[child_deaths['Uncertainty bounds*']=="Median"]

In [242]:
primary=pd.read_csv("Inputs/EDULIT_DS_Primary.csv")

In [243]:
secondary=pd.read_csv("Inputs/EDULIT_DS_Secondary.csv")

In [244]:
child_mortality=child_mortality[child_mortality['Uncertainty bounds*']=="Median"]

In [199]:
mortality_years=child_mortality.drop(['ISO Code','Country Name','Uncertainty bounds*'],axis=1)

In [200]:
mortality_years.rename(columns = lambda x : str(x)[:-2],inplace=True)

In [201]:
rest=child_mortality[['ISO Code','Country Name']]

In [202]:
mortality_rate=rest.join(mortality_years)

In [203]:
mortality_rate.set_index(['ISO Code','Country Name'],inplace=True)

In [204]:
mortality_rate_df=pd.DataFrame(mortality_rate.stack()).reset_index()

In [205]:
mortality_rate_df.rename(columns={'level_2':'Year',0:'mort_rate_U5'},inplace=True)

In [206]:
mortality_rate_df['Year']=mortality_rate_df['Year'].astype(int)

In [207]:
mortality_rate_df.head()

  ISO Code Country Name  Year  mort_rate_U5
0      AFG  Afghanistan  1960         356.5
1      AFG  Afghanistan  1961         350.5
2      AFG  Afghanistan  1962         344.8
3      AFG  Afghanistan  1963         339.3
4      AFG  Afghanistan  1964         334.1

In [208]:
list(mortality_rate_df)

['ISO Code', 'Country Name', 'Year', 'mort_rate_U5']

In [209]:
years=child_deaths.drop(['ISO Code','CountryName','Uncertainty bounds*'],axis=1)

In [210]:
years.rename(columns = lambda x : str(x)[:-2],inplace=True)

In [211]:
# list(child_deaths)

In [31]:
rest=child_deaths[['ISO Code','CountryName']]

In [59]:
mortality=rest.join(years)

In [60]:
mortality.set_index(['ISO Code','CountryName'],inplace=True)

In [61]:
# mortality.transpose()

In [62]:
mortality_df=pd.DataFrame(mortality.stack()).reset_index()

In [66]:
mortality_df.rename(columns={'level_2':'Year',0:'Number_deaths_U5'},inplace=True)

In [68]:
mortality_df.head()

  ISO Code  CountryName  Year  Number_deaths_U5
0      AFG  Afghanistan  1965          159930.0
1      AFG  Afghanistan  1966          160878.0
2      AFG  Afghanistan  1967          161784.0
3      AFG  Afghanistan  1968          162828.0
4      AFG  Afghanistan  1969          163784.0

In [73]:
primary['Indicator'].unique()

array(['Rate of out-of-school children of primary school age, male (%)',
       'Rate of out-of-school children of primary school age in pre-primary education, female (%)',
       'Rate of out-of-school children of primary school age, both sexes (%)',
       'Rate of out-of-school children of primary school age, female (%)',
       'Rate of out-of-school children of primary school age in pre-primary education, male (%)',
       'Rate of out-of-school children of primary school age in pre-primary education, both sexes (%)',
       'Rate of out-of-school children of primary school age, adjusted gender parity index (GPIA)',
       'Rate of out-of-school children of primary school age in pre-primary education, adjusted gender parity index (GPIA)',
       'Rate of out-of-school children one year younger than official entry age, both sexes (%)',
       'Rate of out-of-school children one year younger than official entry age, female (%)',
       'Rate of out-of-school children one year younger than official entry age, male (%)'],
      dtype=object)

In [75]:
primary=primary[primary['Indicator']=='Rate of out-of-school children of primary school age, female (%)']

In [80]:
primary.drop(['EDULIT_IND','TIME','Flag Codes','Flags','Indicator'],axis=1,inplace=True)

In [82]:
primary.rename(columns={'Value':'primary_females_pct_out'},inplace=True)

In [93]:
mortality_df['Year']=mortality_df['Year'].astype(int)

In [95]:
full_set=primary.merge(mortality_df,left_on=['LOCATION','Time'],right_on=['ISO Code','Year'])

In [98]:
full_set.drop(['LOCATION','Country','Time'],axis=1,inplace=True)

In [187]:
full_set['Year'].unique()

array([2012, 2013, 2014, 2015, 2016, 2017], dtype=int64)

In [170]:
# full_set.dropna(subset=['primary_females_pct_out', 'Number_deaths_U5'])

In [212]:
rate_set=primary.merge(mortality_rate_df,left_on=['LOCATION','Time'],right_on=['ISO Code','Year'])

In [213]:
rate_set.drop(['LOCATION','Country','Time'],axis=1,inplace=True)

In [214]:
rate_set.dropna(subset=['primary_females_pct_out', 'mort_rate_U5'])

,primary_females_pct_out,ISO Code,Country Name,Year,mort_rate_U5
0,1.04792,ITA,Italy,2012,3.8
1,0.79710,ITA,Italy,2013,3.7
2,0.93466,ITA,Italy,2014,3.6
3,1.13794,ITA,Italy,2015,3.5
4,1.53865,ITA,Italy,2016,3.4
5,16.94235,LSO,Lesotho,2012,97.4
6,18.76511,LSO,Lesotho,2013,95.8
7,18.33419,LSO,Lesotho,2014,94.7
8,18.49100,LSO,Lesotho,2015,93.8
9,18.15730,LSO,Lesotho,2016,88.9
10,17.41473,LSO,Lesotho,2017,85.9
11,21.71546,SWZ,Eswatini,2012,70.1
12,24.22551,SWZ,Eswatini,2013,65.7
13,23.20513,SWZ,Eswatini,2014,62.2
14,24.08937,SWZ,Eswatini,2015,57.8
15,24.78219,SWZ,Eswatini,2016,56.3
16,6.35809,NPL,Nepal,2014,38.3
17,3.99572,NPL,Nepal,2015,36.6
18,3.62056,NPL,Nepal,2016,35.0
19,6.58225,NPL,Nepal,2017,33.7
20,2.34191,ECU,Ecuador,2012,16.7
21,0.92228,ECU,Ecuador,2013,16.1
22,1.04198,ECU,Ecuador,2014,15.5
23,0.82982,ECU,Ecuador,2015,15.1
24,1.00740,ECU,Ecuador,2016,14.8
25,30.35826,GIN,Guinea,2012,101.6
26,29.40373,GIN,Guinea,2013,98.2
27,25.78151,GIN,Guinea,2014,94.9
28,28.70171,GIN,Guinea,2016,88.7
29,7.57807,UGA,Uganda,2013,62.7
...,...,...,...,...,...
622,5.14338,ALB,Albania,2015,9.4
623,4.93107,ALB,Albania,2016,9.1
624,3.54685,ALB,Albania,2017,8.8
625,29.02648,SLB,Solomon Islands,2013,23.4
626,30.03658,SLB,Solomon Islands,2014,22.6
627,29.26611,SLB,Solomon Islands,2015,21.9
628,27.10946,SLB,Solomon Islands,2016,21.2
629,30.20762,SLB,Solomon Islands,2017,20.6
630,5.36274,UKR,Ukraine,2012,10.7
631,4.90792,UKR,Ukraine,2013,10.2
632,6.26277,UKR,Ukraine,2014,9.8
633,3.29801,GUY,Guyana,2012,36.0
634,72.23413,SSD,South Sudan,2015,96.4
635,21.77068,NRU,Nauru,2012,37.6
636,14.93943,NRU,Nauru,2014,35.9
637,14.23267,NRU,Nauru,2016,34.0
638,19.24157,MHL,Marshall Islands,2015,35.8
639,18.84428,MHL,Marshall Islands,2016,34.9
640,11.70303,FSM,Micronesia (Federated States of),2014,35.3
641,14.60707,FSM,Micronesia (Federated States of),2015,34.2
642,56.86486,ERI,Eritrea,2012,51.3
643,58.28954,ERI,Eritrea,2013,49.4
644,58.11734,ERI,Eritrea,2014,47.6
645,59.45906,ERI,Eritrea,2015,46.1
646,64.03557,ERI,Eritrea,2017,43.1
647,0.72518,BRA,Brazil,2012,17.3
648,2.15521,BRA,Brazil,2013,16.7
649,2.38903,BRA,Brazil,2014,16.2
650,2.95795,BRA,Brazil,2015,15.7
651,1.90702,BRA,Brazil,2016,16.3

In [215]:
rate_set_2016=rate_set[rate_set['Year']==2016]

In [216]:
rate_set_2016

,primary_females_pct_out,ISO Code,Country Name,Year,mort_rate_U5
4,1.53865,ITA,Italy,2016,3.4
9,18.15730,LSO,Lesotho,2016,88.9
15,24.78219,SWZ,Eswatini,2016,56.3
18,3.62056,NPL,Nepal,2016,35.0
24,1.00740,ECU,Ecuador,2016,14.8
28,28.70171,GIN,Guinea,2016,88.7
32,4.07627,PHL,Philippines,2016,28.6
37,16.64538,TLS,Timor-Leste,2016,49.4
43,28.60292,PAK,Pakistan,2016,77.1
50,5.95287,TUR,Turkey,2016,12.5
55,0.57314,HRV,Croatia,2016,4.7
60,0.60220,FRA,France,2016,4.2
62,1.07583,MDV,Maldives,2016,8.3
71,5.97076,AZE,Azerbaijan,2016,24.6
79,3.01108,HUN,Hungary,2016,4.8
82,7.51295,MNE,Montenegro,2016,3.8
88,5.24128,TJK,Tajikistan,2016,34.6
94,6.01971,LAO,Lao People's Democratic Republic,2016,65.6
97,25.17283,PNG,Papua New Guinea,2016,55.2
102,6.08316,COL,Colombia,2016,15.2
109,1.39926,ESP,Spain,2016,3.1
115,1.58733,SVN,Slovenia,2016,2.3
120,10.22997,MDA,Republic of Moldova,2016,15.7
126,1.09671,LUX,Luxembourg,2016,2.6
134,11.09949,VEN,Venezuela (Bolivarian Republic of)**,2016,26.4
140,0.12104,LTU,Lithuania,2016,4.7
145,0.54963,ISL,Iceland,2016,2.2
150,25.24737,BFA,Burkina Faso,2016,84.5
154,9.90415,ROU,Romania,2016,8.5
155,1.05417,DMA,Dominica,2016,32.9
...,...,...,...,...,...
475,1.23071,ARG,Argentina,2016,10.9
480,0.77919,SRB,Serbia,2016,6.0
482,3.63325,RWA,Rwanda,2016,39.8
488,13.03609,MOZ,Mozambique,2016,74.8
493,10.83949,IDN,Indonesia,2016,26.3
499,3.64882,ARE,United Arab Emirates,2016,9.0
508,4.29742,USA,United States,2016,6.7
517,7.10629,GRC,Greece,2016,5.1
522,4.30842,POL,Poland,2016,4.8
538,0.04207,IRL,Ireland,2016,3.6
543,16.14651,HND,Honduras,2016,18.9
549,18.24786,LBN,Lebanon,2016,8.1
556,7.03937,BGR,Bulgaria,2016,7.9
560,50.58745,DJI,Djibouti,2016,63.7
566,37.44118,SDN,Sudan,2016,65.2
569,0.10499,PER,Peru,2016,15.5
576,9.65372,BOL,Bolivia (Plurinational State of),2016,36.1
581,17.03927,CIV,Cote d'Ivoire,2016,91.8
583,1.56548,DZA,Algeria,2016,24.5
588,1.91441,MNG,Mongolia,2016,18.0
592,1.19949,MYS,Malaysia,2016,7.7
598,5.67227,EST,Estonia,2016,2.9
603,3.44824,BLR,Belarus,2016,3.9
608,26.83792,MRT,Mauritania,2016,81.5
616,2.25683,WSM,Samoa,2016,16.9
623,4.93107,ALB,Albania,2016,9.1
628,27.10946,SLB,Solomon Islands,2016,21.2
637,14.23267,NRU,Nauru,2016,34.0
639,18.84428,MHL,Marshall Islands,2016,34.9
651,1.90702,BRA,Brazil,2016,16.3

In [217]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [218]:
X = rate_set_2016[['primary_females_pct_out']]
y = rate_set_2016['mort_rate_U5'].values.reshape(-1, 1)
print(X.shape, y.shape)

(116, 1) (116, 1)

In [219]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [220]:
model.fit(X_train, y_train)
training_score = model.score(X_train, y_train)
testing_score = model.score(X_test, y_test)

In [221]:
training_score

0.5306462815105797

In [222]:
testing_score

0.48303664255366613

In [121]:
income_groups=pd.read_excel("Inputs/Income_Class.xls",sheet_name=0,header=4)

In [123]:
income_groups=income_groups[['Economy','Code','Region','Income group']]

In [179]:
full_income=rate_set.merge(income_groups,left_on='ISO Code',right_on='Code')

In [180]:
full_income['Income group'].unique()

array(['High income', 'Lower middle income', 'Low income',
       'Upper middle income'], dtype=object)

In [181]:
to_test=full_income[full_income['Income group']=='Low income']

In [223]:
gdp_per_capita=pd.read_csv("Inputs/GDP_Per_Capita.csv",header=4)

In [224]:
gdp_2016_df=gdp_per_capita[['Country Code','2016']].dropna()

In [225]:
gdp_2016_df.rename(columns={'2016':'GDP_Per_Capita'},inplace=True)

In [226]:
gdp_2016_df.head()

  Country Code  GDP_Per_Capita
0          ABW    25251.639680
1          AFG      549.582760
2          AGO     3509.604211
3          ALB     4131.872341
4          AND    37231.815670

In [232]:
with_gdp_2016=rate_set_2016.merge(gdp_2016_df,left_on='ISO Code',right_on='Country Code')

In [234]:
# with_gdp_2016

In [235]:
X = with_gdp_2016[['primary_females_pct_out','GDP_Per_Capita']]
y = with_gdp_2016['mort_rate_U5'].values.reshape(-1, 1)
print(X.shape, y.shape)

(115, 2) (115, 1)

In [236]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [237]:
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [238]:
model.score(X_test,y_test)

0.37435473583181145